const { watch, src, dest, task, series, parallel } = require('gulp');
const plumber = require('gulp-plumber');

task('clear', async () => await require('del')('./dist'));

:tasks:

task('build', series('clear', parallel(:task_names:)));
task('default', series('build'));
task('serve', series('build', 'watch'));
